// Base
@document-max-width: 1200px;
@document-width: 93.7%;

@horizontal-margin: 2%;
@vertical-margin: 2%;

// Media rules
@xxl-min: 1100px;
@xl-max: 1099px;
@xl-min: 1000px;
@l-max: 999px;
@l-min: 900px;
@m-max: 899px;
@m-min: 800px;
@s-max: 799px;
@s-min: 700px;
@phone: 699px;

// Grid
@columns-count: 24;
@col-width: ((100 - @columns-count * @horizontal-margin) / @columns-count + @horizontal-margin);

@col-1: (1 * @col-width - @horizontal-margin);//6.333333333%
@col-2: (2 * @col-width - @horizontal-margin);//14.666666667%;
@col-3: (3 * @col-width - @horizontal-margin);//23%;
@col-4: (4 * @col-width - @horizontal-margin);//31.333333333%;
@col-5: (5 * @col-width - @horizontal-margin);//39.666666667%;
@col-6: (6 * @col-width - @horizontal-margin);//48%;
@col-7: (7 * @col-width - @horizontal-margin);//56.333333333%;
@col-8: (8 * @col-width - @horizontal-margin);//64.666666667%;
@col-9: (9 * @col-width - @horizontal-margin);//73%;
@col-10: (10 * @col-width - @horizontal-margin);//81.333333333%;
@col-11: (11 * @col-width - @horizontal-margin);//89.666666667%;
@col-12: (12 * @col-width - @horizontal-margin);//98%;
@col-13: (13 * @col-width - @horizontal-margin);
@col-14: (14 * @col-width - @horizontal-margin);
@col-15: (15 * @col-width - @horizontal-margin);
@col-16: (16 * @col-width - @horizontal-margin);
@col-17: (17 * @col-width - @horizontal-margin);
@col-18: (18 * @col-width - @horizontal-margin);
@col-19: (19 * @col-width - @horizontal-margin);
@col-20: (20 * @col-width - @horizontal-margin);
@col-21: (21 * @col-width - @horizontal-margin);
@col-22: (22 * @col-width - @horizontal-margin);
@col-23: (23 * @col-width - @horizontal-margin);
@col-24: (24 * @col-width - @horizontal-margin);
 
 
 div.container{
	width: @document-width;
	margin: 0 auto;
	max-width: 	@document-max-width;
 }
  
 .col{
	float: left;
	margin-left: @horizontal-margin;
	width: 100%;
}

 .flex{
	margin-left: (-1 * @horizontal-margin);
 }

 .flex:after{
 	display: block;
 	content: " ";
 	clear: both;
 }

@media (min-width: @xxl-min) {
	.xxl-m{
	margin-top: @vertical-margin;
	}
	.xxl-h{
	display: none;
	}
	.xxl-lb{
    display: block;
	clear: both;
	}
	.xxl-1{
	width: @col-1
	}
	.xxl-2{
	width: @col-2
	}
	.xxl-3{
	width: @col-3
	}
	.xxl-4{
	width: @col-4
	}
	.xxl-5{
	width: @col-5
	}
	.xxl-6{
	width: @col-6
	}
	.xxl-7{
	width: @col-7
	}
	.xxl-8{
	width: @col-8
	}
	.xxl-9{
	width: @col-9
	}
	.xxl-10{
	width: @col-10
	}
	.xxl-11{
	width: @col-11
	}
	.xxl-12{
	width: @col-12
	}
	.xxl-13{
	width: @col-13
	}
	.xxl-14{
	width: @col-14
	}
	.xxl-15{
	width: @col-15
	}
	.xxl-16{
	width: @col-16
	}
	.xxl-17{
	width: @col-17
	}
	.xxl-18{
	width: @col-18
	}
	.xxl-19{
	width: @col-19
	}
	.xxl-20{
	width: @col-20
	}
	.xxl-21{
	width: @col-21
	}
	.xxl-22{
	width: @col-22
	}
	.xxl-23{
	width: @col-23
	}
	.xxl-24{
	width: @col-24
	}
    .xxl-gl-1{
	width: @col-1 + @horizontal-margin;
	}
	.xxl-gl-2{
	width: @col-2 + @horizontal-margin;
	}
	.xxl-gl-3{
	width: @col-3 + @horizontal-margin;
	}
	.xxl-gl-4{
	width: @col-4 + @horizontal-margin;
	}
	.xxl-gl-5{
	width: @col-5 + @horizontal-margin;
	}
	.xxl-gl-6{
	width: @col-6 + @horizontal-margin;
	}
	.xxl-gl-7{
	width: @col-7 + @horizontal-margin;
	}
	.xxl-gl-8{
	width: @col-8 + @horizontal-margin;
	}
	.xxl-gl-9{
	width: @col-9 + @horizontal-margin;
	}
	.xxl-gl-10{
	width: @col-10 + @horizontal-margin;
	}
	.xxl-gl-11{
	width: @col-11 + @horizontal-margin;
	}
	.xxl-gl-12{
	width: @col-12 + @horizontal-margin;
	}
	.xxl-gl-13{
	width: @col-13 + @horizontal-margin;
	}
	.xxl-gl-14{
	width: @col-14 + @horizontal-margin;
	}
	.xxl-gl-15{
	width: @col-15 + @horizontal-margin;
	}
	.xxl-gl-16{
	width: @col-16 + @horizontal-margin;
	}
	.xxl-gl-17{
	width: @col-17 + @horizontal-margin;
	}
	.xxl-gl-18{
	width: @col-18 + @horizontal-margin;
	}
	.xxl-gl-19{
	width: @col-19 + @horizontal-margin;
	}
	.xxl-gl-20{
	width: @col-20 + @horizontal-margin;
	}
	.xxl-gl-21{
	width: @col-21 + @horizontal-margin;
	}
	.xxl-gl-22{
	width: @col-22 + @horizontal-margin;
	}
	.xxl-gl-23{
	width: @col-23 + @horizontal-margin;
	}
	.xxl-gl-24{
	width: @col-24 + @horizontal-margin;
	}
}

@media (max-width: 	@xl-max) and (min-width: @xl-min) {

	.xl-m{
	margin-top: @vertical-margin;
	}
	.xl-h{
	display: none;
	}
	.xl-lb{
	clear: both;
    display: block;
	}
	.xl-1{
	width: @col-1
	}
	.xl-2{
	width: @col-2
	}
	.xl-3{
	width: @col-3
	}
	.xl-4{
	width: @col-4
	}
	.xl-5{
	width: @col-5
	}
	.xl-6{
	width: @col-6
	}
	.xl-7{
	width: @col-7
	}
	.xl-8{
	width: @col-8
	}
	.xl-9{
	width: @col-9
	}
	.xl-10{
	width: @col-10
	}
	.xl-11{
	width: @col-11
	}
	.xl-12{
	width: @col-12
	}
	.xl-13{
	width: @col-13
	}
	.xl-14{
	width: @col-14
	}
	.xl-15{
	width: @col-15
	}
	.xl-16{
	width: @col-16
	}
	.xl-17{
	width: @col-17
	}
	.xl-18{
	width: @col-18
	}
	.xl-19{
	width: @col-19
	}
	.xl-20{
	width: @col-20
	}
	.xl-21{
	width: @col-21
	}
	.xl-22{
	width: @col-22
	}
	.xl-23{
	width: @col-23
	}
	.xl-24{
	width: @col-24
	}
    .xl-gl-1{
	width: @col-1 + @horizontal-margin;
	}
	.xl-gl-2{
	width: @col-2 + @horizontal-margin;
	}
	.xl-gl-3{
	width: @col-3 + @horizontal-margin;
	}
	.xl-gl-4{
	width: @col-4 + @horizontal-margin;
	}
	.xl-gl-5{
	width: @col-5 + @horizontal-margin;
	}
	.xl-gl-6{
	width: @col-6 + @horizontal-margin;
	}
	.xl-gl-7{
	width: @col-7 + @horizontal-margin;
	}
	.xl-gl-8{
	width: @col-8 + @horizontal-margin;
	}
	.xl-gl-9{
	width: @col-9 + @horizontal-margin;
	}
	.xl-gl-10{
	width: @col-10 + @horizontal-margin;
	}
	.xl-gl-11{
	width: @col-11 + @horizontal-margin;
	}
	.xl-gl-12{
	width: @col-12 + @horizontal-margin;
	}
	.xl-gl-13{
	width: @col-13 + @horizontal-margin;
	}
	.xl-gl-14{
	width: @col-14 + @horizontal-margin;
	}
	.xl-gl-15{
	width: @col-15 + @horizontal-margin;
	}
	.xl-gl-16{
	width: @col-16 + @horizontal-margin;
	}
	.xl-gl-17{
	width: @col-17 + @horizontal-margin;
	}
	.xl-gl-18{
	width: @col-18 + @horizontal-margin;
	}
	.xl-gl-19{
	width: @col-19 + @horizontal-margin;
	}
	.xl-gl-20{
	width: @col-20 + @horizontal-margin;
	}
	.xl-gl-21{
	width: @col-21 + @horizontal-margin;
	}
	.xl-gl-22{
	width: @col-22 + @horizontal-margin;
	}
	.xl-gl-23{
	width: @col-23 + @horizontal-margin;
	}
	.xl-gl-24{
	width: @col-24 + @horizontal-margin;
	}
}

@media (max-width: 	@l-max) and (min-width: @l-min) {
	.l-m{
	margin-top: @vertical-margin;
	}
	.l-h{
	display: none;
	}
	.l-lb{
    display: block;
	clear: both;
	}
	.l-1{
	width: @col-1
	}
	.l-2{
	width: @col-2
	}
	.l-3{
	width: @col-3
	}
	.l-4{
	width: @col-4
	}
	.l-5{
	width: @col-5
	}
	.l-6{
	width: @col-6
	}
	.l-7{
	width: @col-7
	}
	.l-8{
	width: @col-8
	}
	.l-9{
	width: @col-9
	}
	.l-10{
	width: @col-10
	}
	.l-11{
	width: @col-11
	}
	.l-12{
	width: @col-12
	}
	.l-13{
	width: @col-13
	}
	.l-14{
	width: @col-14
	}
	.l-15{
	width: @col-15
	}
	.l-16{
	width: @col-16
	}
	.l-17{
	width: @col-17
	}
	.l-18{
	width: @col-18
	}
	.l-19{
	width: @col-19
	}
	.l-20{
	width: @col-20
	}
	.l-21{
	width: @col-21
	}
	.l-22{
	width: @col-22
	}
	.l-23{
	width: @col-23
	}
	.l-24{
	width: @col-24
	}
    .l-gl-1{
	width: @col-1 + @horizontal-margin;
	}
	.l-gl-2{
	width: @col-2 + @horizontal-margin;
	}
	.l-gl-3{
	width: @col-3 + @horizontal-margin;
	}
	.l-gl-4{
	width: @col-4 + @horizontal-margin;
	}
	.l-gl-5{
	width: @col-5 + @horizontal-margin;
	}
	.l-gl-6{
	width: @col-6 + @horizontal-margin;
	}
	.l-gl-7{
	width: @col-7 + @horizontal-margin;
	}
	.l-gl-8{
	width: @col-8 + @horizontal-margin;
	}
	.l-gl-9{
	width: @col-9 + @horizontal-margin;
	}
	.l-gl-10{
	width: @col-10 + @horizontal-margin;
	}
	.l-gl-11{
	width: @col-11 + @horizontal-margin;
	}
	.l-gl-12{
	width: @col-12 + @horizontal-margin;
	}
	.l-gl-13{
	width: @col-13 + @horizontal-margin;
	}
	.l-gl-14{
	width: @col-14 + @horizontal-margin;
	}
	.l-gl-15{
	width: @col-15 + @horizontal-margin;
	}
	.l-gl-16{
	width: @col-16 + @horizontal-margin;
	}
	.l-gl-17{
	width: @col-17 + @horizontal-margin;
	}
	.l-gl-18{
	width: @col-18 + @horizontal-margin;
	}
	.l-gl-19{
	width: @col-19 + @horizontal-margin;
	}
	.l-gl-20{
	width: @col-20 + @horizontal-margin;
	}
	.l-gl-21{
	width: @col-21 + @horizontal-margin;
	}
	.l-gl-22{
	width: @col-22 + @horizontal-margin;
	}
	.l-gl-23{
	width: @col-23 + @horizontal-margin;
	}
	.l-gl-24{
	width: @col-24 + @horizontal-margin;
	}
}

@media (max-width: @m-max) and (min-width: @m-min){
	.m-m{
	margin-top: @vertical-margin;
	}
	.m-h{
	display: none;
	}
	.m-lb{
    display: block;
	clear: both;
	}
	.m-1{
	width: @col-1
	}
	.m-2{
	width: @col-2
	}
	.m-3{
	width: @col-3
	}
	.m-4{
	width: @col-4
	}
	.m-5{
	width: @col-5
	}
	.m-6{
	width: @col-6
	}
	.m-7{
	width: @col-7
	}
	.m-8{
	width: @col-8
	}
	.m-9{
	width: @col-9
	}
	.m-10{
	width: @col-10
	}
	.m-11{
	width: @col-11
	}
	.m-12{
	width: @col-12
	}
	.m-13{
	width: @col-13
	}
	.m-14{
	width: @col-14
	}
	.m-15{
	width: @col-15
	}
	.m-16{
	width: @col-16
	}
	.m-17{
	width: @col-17
	}
	.m-18{
	width: @col-18
	}
	.m-19{
	width: @col-19
	}
	.m-20{
	width: @col-20
	}
	.m-21{
	width: @col-21
	}
	.m-22{
	width: @col-22
	}
	.m-23{
	width: @col-23
	}
	.m-24{
	width: @col-24
	}
    .m-gl-1{
	width: @col-1 + @horizontal-margin;
	}
	.m-gl-2{
	width: @col-2 + @horizontal-margin;
	}
	.m-gl-3{
	width: @col-3 + @horizontal-margin;
	}
	.m-gl-4{
	width: @col-4 + @horizontal-margin;
	}
	.m-gl-5{
	width: @col-5 + @horizontal-margin;
	}
	.m-gl-6{
	width: @col-6 + @horizontal-margin;
	}
	.m-gl-7{
	width: @col-7 + @horizontal-margin;
	}
	.m-gl-8{
	width: @col-8 + @horizontal-margin;
	}
	.m-gl-9{
	width: @col-9 + @horizontal-margin;
	}
	.m-gl-10{
	width: @col-10 + @horizontal-margin;
	}
	.m-gl-11{
	width: @col-11 + @horizontal-margin;
	}
	.m-gl-12{
	width: @col-12 + @horizontal-margin;
	}
	.m-gl-13{
	width: @col-13 + @horizontal-margin;
	}
	.m-gl-14{
	width: @col-14 + @horizontal-margin;
	}
	.m-gl-15{
	width: @col-15 + @horizontal-margin;
	}
	.m-gl-16{
	width: @col-16 + @horizontal-margin;
	}
	.m-gl-17{
	width: @col-17 + @horizontal-margin;
	}
	.m-gl-18{
	width: @col-18 + @horizontal-margin;
	}
	.m-gl-19{
	width: @col-19 + @horizontal-margin;
	}
	.m-gl-20{
	width: @col-20 + @horizontal-margin;
	}
	.m-gl-21{
	width: @col-21 + @horizontal-margin;
	}
	.m-gl-22{
	width: @col-22 + @horizontal-margin;
	}
	.m-gl-23{
	width: @col-23 + @horizontal-margin;
	}
	.m-gl-24{
	width: @col-24 + @horizontal-margin;
	}
}


@media (max-width: @s-max) and (min-width: @s-min){
	.s-m{
	margin-top: @vertical-margin;
	}
	.s-h{
	display: none;
	}
	.s-lb{
    display: block;
	clear: both;
	}
	.s-1{
	width: @col-1
	}
	.s-2{
	width: @col-2
	}
	.s-3{
	width: @col-3
	}
	.s-4{
	width: @col-4
	}
	.s-5{
	width: @col-5
	}
	.s-6{
	width: @col-6
	}
	.s-7{
	width: @col-7
	}
	.s-8{
	width: @col-8
	}
	.s-9{
	width: @col-9
	}
	.s-10{
	width: @col-10
	}
	.s-11{
	width: @col-11
	}
	.s-12{
	width: @col-12
	}
	.s-13{
	width: @col-13
	}
	.s-14{
	width: @col-14
	}
	.s-15{
	width: @col-15
	}
	.s-16{
	width: @col-16
	}
	.s-17{
	width: @col-17
	}
	.s-18{
	width: @col-18
	}
	.s-19{
	width: @col-19
	}
	.s-20{
	width: @col-20
	}
	.s-21{
	width: @col-21
	}
	.s-22{
	width: @col-22
	}
	.s-23{
	width: @col-23
	}
	.s-24{
	width: @col-24
	}
    .s-gl-1{
	width: @col-1 + @horizontal-margin;
	}
	.s-gl-2{
	width: @col-2 + @horizontal-margin;
	}
	.s-gl-3{
	width: @col-3 + @horizontal-margin;
	}
	.s-gl-4{
	width: @col-4 + @horizontal-margin;
	}
	.s-gl-5{
	width: @col-5 + @horizontal-margin;
	}
	.s-gl-6{
	width: @col-6 + @horizontal-margin;
	}
	.s-gl-7{
	width: @col-7 + @horizontal-margin;
	}
	.s-gl-8{
	width: @col-8 + @horizontal-margin;
	}
	.s-gl-9{
	width: @col-9 + @horizontal-margin;
	}
	.s-gl-10{
	width: @col-10 + @horizontal-margin;
	}
	.s-gl-11{
	width: @col-11 + @horizontal-margin;
	}
	.s-gl-12{
	width: @col-12 + @horizontal-margin;
	}
	.s-gl-13{
	width: @col-13 + @horizontal-margin;
	}
	.s-gl-14{
	width: @col-14 + @horizontal-margin;
	}
	.s-gl-15{
	width: @col-15 + @horizontal-margin;
	}
	.s-gl-16{
	width: @col-16 + @horizontal-margin;
	}
	.s-gl-17{
	width: @col-17 + @horizontal-margin;
	}
	.s-gl-18{
	width: @col-18 + @horizontal-margin;
	}
	.s-gl-19{
	width: @col-19 + @horizontal-margin;
	}
	.s-gl-20{
	width: @col-20 + @horizontal-margin;
	}
	.s-gl-21{
	width: @col-21 + @horizontal-margin;
	}
	.s-gl-22{
	width: @col-22 + @horizontal-margin;
	}
	.s-gl-23{
	width: @col-23 + @horizontal-margin;
	}
	.s-gl-24{
	width: @col-24 + @horizontal-margin;
	}
}

@media (max-width: 	@phone){
	.col{
		margin-bottom: @vertical-margin;
		margin-left: 0;
	}

	.flex{
		margin: 0;
	}

	.flex .col:last-child{
		margin-bottom: 0;
	}
}
