@horizontal-margin: 2%;
@vertical-margin: 2%;

// Grid
@columns-count: 12;

@col-1: 6.333333333%;
@col-2: 14.666666667%;
@col-3: 23%;
@col-4: 32%;
@col-5: 39.666666667%;
@col-6: 48%;
@col-7: 56.333333333%;
@col-8: 64.666666667%;
@col-9: 73%;
@col-10: 81.333333333%;
@col-11: 89.666666667%;
@col-12: 98%;
 
 div.container{
	width: 93.7%;
	margin: 0 auto;
	max-width: 	1200px;
 }
  
 .col{
	float: left;
	margin-left: @horizontal-margin;
}

 .flex{
	margin-left: (-1 * 2%);
 }

 
@media (min-width: 1100px) {
	.xxl-m{
  	margin-top: @vertical-margin;
  	}

  .xxl-h{
  	display: none;
  }
	.xxl-1{
		width: @col-1
	}
	.xxl-2{
	width: @col-2
	}
	.xxl-3{
	width: @col-3
	}
	.xxl-4{
	width: @col-4
	}
	.xxl-5{
	width: @col-5
	}
	.xxl-6{
	width: @col-6
	}
	.xxl-7{
	width: @col-7
	}
	.xxl-8{
	width: @col-8
	}
	.xxl-9{
	width: @col-9
	}
	.xxl-10{
	width: @col-10
	}
	.xxl-11{
	width: @col-11
	}
	.xxl-12{
	width: @col-12
	}
	.xxl-13() when (@col-count = 16){
	width: @col-13
	}
	.xxl-14() when (@col-count = 16){
	width: @col-14
	}
	.xxl-15() when (@col-count = 16){
	width: @col-15
	}
	.xxl-16() when (@col-count = 16){
	width: @col-16
	}
}

@media (max-width: 	1099px) and (min-width: 900px) {

	.xl-m{
  	margin-top: @vertical-margin;
  	}

  .xl-h{
  	display: none;
  }
	.xl-1{
		width: @col-1
	}
	.xl-2{
	width: @col-2
	}
	.xl-3{
	width: @col-3
	}
	.xl-4{
	width: @col-4
	}
	.xl-5{
	width: @col-5
	}
	.xl-6{
	width: @col-6
	}
	.xl-7{
	width: @col-7
	}
	.xl-8{
	width: @col-8
	}
	.xl-9{
	width: @col-9
	}
	.xl-10{
	width: @col-10
	}
	.xl-11{
	width: @col-11
	}
	.xl-12{
	width: @col-12
	}
	.xl-13() when (@col-count = 16){
	width: @col-13
	}
	.xl-14() when (@col-count = 16){
	width: @col-14
	}
	.xl-15() when (@col-count = 16){
	width: @col-15
	}
	.xl-16() when (@col-count = 16){
	width: @col-16
	}
}

@media (max-width: 	899px) and (min-width: 700px) {
.l-m{
  	margin-top: @vertical-margin;
  	}

  .l-h{
  	display: none;
  }
	.l-1{
		width: @col-1
	}
	.l-2{
	width: @col-2
	}
	.l-3{
	width: @col-3
	}
	.l-4{
	width: @col-4
	}
	.l-5{
	width: @col-5
	}
	.l-6{
	width: @col-6
	}
	.l-7{
	width: @col-7
	}
	.l-8{
	width: @col-8
	}
	.l-9{
	width: @col-9
	}
	.l-10{
	width: @col-10
	}
	.l-11{
	width: @col-11
	}
	.l-12{
	width: @col-12
	}
	.l-13() when (@col-count = 16){
	width: @col-13
	}
	.l-14() when (@col-count = 16){
	width: @col-14
	}
	.l-15() when (@col-count = 16){
	width: @col-15
	}
	.l-16() when (@col-count = 16){
	width: @col-16
	}
}